*{
    background: "imagenes/background-sunflowers.jpg";
    font-family: 'Inter' ;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
}
body{
    background: url("imagenes/background-sunflowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 2%;
    color: #EABE3F;

}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.ingreso-texto{
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
    border: none;
    color: #433c26;
    margin-top: 98px;    
    text-transform: lowercase; /* Transformar a minuscula */
    position: relative;
    resize: none;
}   
::placeholder{
    color: #79672d;
}
.ingreso-texto:focus{
    outline: none;

}
.texto-generado{
    background: rgba(255, 255, 255, .1);
    background-image: url("imagenes/sunflowers.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #433c26  ;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: absolute;
    height: 500px;
    resize: none;
}

.texto-generado:focus{
    outline: none;
}
.botones{
    display: inline  ;
    margin-top: 18px;
}
.btn-desencriptar{
    background: #d8dfd8;
    border: 1px solid #EABE3F;
    border-radius: 24px;
    color: #bf9d36;
    cursor: #0a3871;
    height: 67px;
    margin-left: 30px;
    width: 328px;


}
.btn-encriptar{
    background: #EABE3F;
    border: 1px solid #EABE3F;
    border-radius: 24px;
    color: white;
    cursor: #0a3871;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    
}
.btn-limpiar{
    background: #EABE3F;
    border: 1px solid #EABE3F;
    border-radius: 24px;
    color: white;
    cursor: #0a3871;
    height: 67px;
    margin-left: 200px;
    margin-top: 15px;
    width: 328px;
    display: block;  
}
.btn-copiar{
    background: #d8dfd8;
    border: 1px solid #EABE3F;
    border-radius: 24px;
    color: #bf9d36;
    cursor: pointer;
    height: 67px;
    margin-left: 115px;
    margin-top: 415px;
    position: absolute;
    width: 298px;
    
}
.informacion{
    color: #c5d1cb;
    font-size: 18px;
    font-weight: bold;
    
    
}
/* RESPONSIVE */
@media screen and (max-width:480px){
    *{
        background: "imagenes/background-sunflowers.jpg";
        font-family: 'Inter' ;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        width: 100%;
    }
    main{
        display: block;
    }
    body{
        background: url("imagenes/background-sunflowers.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    
    }
    .ingreso-texto{
        margin: auto;
        width: 100%;
    }
    .texto-generado{
        width: 100%;
        margin: auto;
    }
    .botones{
        display: block;
        margin: auto;
        
    }
    .btn-encriptar, .btn-desencriptar{
        justify-content: center;
        margin-bottom: 15px;
        width: 100%;
        padding: auto;
        margin-right: 100px;
    }
    .texto-generado{
        width: 80%;
        margin: auto;
        position: absolute;
    }
    .btn-copiar{
        margin-bottom: 15px;
        margin-left: 32px;
        width: 100%;
        padding: auto;
    }
    .btn-limpiar{
        margin-bottom: 15px;
        margin-left: 32px;
        width: 100%;
        padding: auto;
    }

}